.preview-canvas {
  width: 500px;
  height: 500px;
}

.reference-canvas {
  width: 200px;
  height: 200px;
}

table, tr, td {
  border: 0px;
  border-spacing:0px;
  border-width:0px; 
  padding:0px; 
  margin:0px; 
}

.colorSquare {
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-right: 1em;
}

.color-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
}

.flex-outer > li > label {
  flex: 1 0;
}
 
.flex-outer > li > label + * {
  flex: 2 0;
}